* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
}

span {
    display: block;
}

button {
    padding: 10px;
    background-color: rgba(165, 234, 246, 1);
    color: black;
    font-size: 15px;
    font-weight: bold;
    border-radius: 60px;
    border: 0px;

}

.container {
    background-color: rgba(201, 237, 250, 1);
    padding: 50px;
}
